.faq h1 {
    font-size: 40px;
    font-family: $typo-principal;
    font-weight: bold;
    color: $color-principal;
    padding: 20px 0px 20px 20px;
}

.faq h2 {
    font-size: 30px;
    font-family: $typo-principal;
    color: $color-principal;
    padding: 20px 0px 20px 20px;
}

.faq p {
    font-size: 25px;
    font-family: $typo-secundaria;
    color: $color-principal;
    padding: 20px 0px 20px 20px;
}