footer {
    background-image: $color-fondo;
    color: $color-principal;
    width: auto;
    height: 20vh;
    

}

footer h3{
    @include footer;
    font-size: 24px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
ol {
    display: flex;
    justify-content: center;
    list-style: none;
    /* Definicion del tamaño */
    font-size: 18px;
    padding-bottom: 20px;
}

.alinear1 {
    margin: 0 20px;
    width: 40px;
    height: 40px;
}


@media (max-width: 480px) {
    .contactofooter {
        font-size: 15px;
    }
    .alinear1 {
        width: 30px;
        height: 30px;
    }
    .footer-nosotros {
        height: 30vh;
    }
}