header {
    
    @include header;

    
}

.textcolor {
    color: $color-principal !important;
}

.hover:hover {
    color: $color-hover !important;
}

.textdecoration1 {
    text-decoration: underline;
}