header {
    background-image: $color-fondo !important; 
    background-color: $color-principal !important;
    font-family: $typo-principal !important;
    
}

.textcolor {
    color: $color-principal !important;
}

.hover:hover {
    color: $color-hover !important;
}

.textdecoration1 {
    text-decoration: underline;
}