.nosotros {
    height: 400px;
}

.quienessomos {
    font-size: 40px;
    font-family: $typo-principal;
    font-weight: bold;
    color: $color-principal;
    padding: 40px 0px 40px 60px;
}
.parrafo {
    width: 50%;
    align-items: center;
    font-family: $typo-secundaria;
    font-size: 20px;
    padding-left: 120px;
    color: $color-principal;
}

@media (max-width: 900px) {
    .nosotros{
        height: auto;
        width: auto;
        align-items: center;
        font-size: 20px;
        padding-left: 20px;
    }
    .parrafo {
        width: 80%;
    }
}

@media (max-width: 720px) {
    
    
    .nosotros {
        height: auto;
        width: auto;
        padding-left: 20px
    }
    .parrafo {
        width: 80%;
        height: auto;
    }
    .quienessomos {
        font-size: 30px;
    }

    
}

@media (max-width: 480px) {
    .mainnosotros {
        height: 400px;
    }
    .nosotros {
        
        width: auto;
        padding-left: 20px;
        
    }
    .parrafo {
        width: 80%;
        height: 100%;
        font-size: 18px;
        
    }
    .quienessomos {
        font-size: 25px;
    }
    .parrafo {
        padding: 0;
        text-align: center;
        margin: 10px 10px 10px 20px;
        
    }

    
}