.nosotros {
    height: 400px;
}

.quienessomos {
    font-size: 40px;
    font-family: $typo-principal;
    font-weight: bold;
    color: $color-principalS;
    padding: 40px 0px 40px 60px;
}
.parrafo {
    width: 50%;
    align-items: center;
    font-family: $typo-principal;
    font-size: 20px;
    padding-left: 120px;
    color: $color-principal;
}

